/* Style the top navigation bar */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to bottom left, #000000, #32214a);
    background-size: cover;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    /* Change the background color when fixed */
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    z-index: 100; /* Ensure it appears above other content */
}

.navbar {
    position: fixed;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    /* Add a white line beneath the navbar */
    background-color: transparent;
    text-align: center;
    /* Center the content horizontally */
}

/* Style the navigation bar links */
.navbar a {
    display: inline-block;
    /* Display links as blocks to center them horizontally */
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-link.active-link {
    color: darkorange; /* Change the color for the active link */
    font-weight: bold; /* Make the active link bold */
}

/* .navbar a:first-child {
    color: darkorange;
} */

/* Right-aligned link */
/* .navbar a.right {
    float: right;
} */

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* .header {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    font-size: 30px;
} */


/* .body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    
} */


.linkedin,
.github {
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    margin: 10px 10px;
    transition: filter 0.5s;
}

.linkedin img,
.github img {
    width: 40px;
    height: 40px;
    transition: filter 0.5s;
}

.linkedin:hover img,
.github:hover img {
    filter: brightness(50%) sepia(1) hue-rotate(30deg) saturate(150%) brightness(100%);
}

.linkedin-contact {
    display: inline-block;
    background: transparent;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    border: none;

}
.linkedin-contact:hover {
    color: lightskyblue;
}




#home h1 {
    font-size: 80px;
}

#about h1,
#experience h1,
#projects h1,
#contact h1 {
    font-size: 70px; 
}


#home p,
#about p,
#experience p,
#projects p,
#contact p {
    font-size: 25px;
}

#home {
    /* h1 {
        font-size: 70px; 
    }
    p {
        font-size: 30px;;
    } */
    padding-top: 300px;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.1); */
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}

#about {
    padding-top: 170px;
    max-width: 600px;
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}

#about .about-content {
    display: flex;
    justify-content: space-between; /* Spread columns evenly */
    align-items: center; /* Center vertically */
}


#about .about-text {
    flex: 1; /* Allow this column to grow and take available space */
    margin-left: 20px; /* Add some spacing between columns */
}

.profile-picture {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 70%;
} 

.profile-picture img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Maintain the aspect ratio and cover the container */
}


#experience {

    padding-top: 170px;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.1); */
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}

#projects {

    padding-top: 170px;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.1); */
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}

#contact {

    padding-top: 300px;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.1); */
    text-align: center;
    color: whitesmoke;
    height: 600px;
}