/* Style the top navigation bar */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to bottom left, #161229, #0207a6);
    background-size: cover;
    scroll-behavior: smooth;
}
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Change the background color when fixed */
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    z-index: 100; /* Ensure it appears above other content */
}

.navbar {
    position: fixed;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    /* Add a white line beneath the navbar */
    background-color: transparent;
    text-align: center;
    /* Center the content horizontally */
}

/* Style the navigation bar links */
.navbar a {
    display: inline-block;
    /* Display links as blocks to center them horizontally */
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:first-child {
    color: darkorange;
}
/* Right-aligned link */
/* .navbar a.right {
    float: right;
} */

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* .header {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    font-size: 30px;
} */


/* .body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    
} */
#home {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}

#about {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}

#experience {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}

#projects {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: whitesmoke;
    height: 1080px;
}
