/* Style the top navigation bar */
.navbar {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid white;
    /* Add a white line beneath the navbar */
    background-color: transparent;
    text-align: center;
    /* Center the content horizontally */
}

/* Style the navigation bar links */
.navbar a {
    display: inline-block;
    /* Display links as blocks to center them horizontally */
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    font-size: 30px;
}

.body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}